@import url(http://fonts.googleapis.com/css?family=Open+Sans:800italic);
body{
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-image: url("../images/constructive-backdrop.jpg");
}
h1, h3, p{
    float: left;
    clear: left;
    color: #524030;
}
h1{
    margin: 50px 0 0 50px;
    height: 175px;
    background-image: url("../images/constructive-logo.gif");
    background-repeat: no-repeat;
    text-indent: 55px;
    color: transparent;
    border-top: 1px solid #BCBDC0;
    border-left: 1px solid #BCBDC0;
    border-right: 1px solid #BCBDC0;
}
h3{
    margin: 0 50px 0 50px;
    padding: 25px 47px 0 47px;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1.8em;
    font-style: italic;
    font-weight: 800;
    line-height: 0.80em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    border-left: 1px solid #BCBDC0;
    border-right: 1px solid #BCBDC0;
    background-color: white;
    text-align: center;
}
p{
    margin: 0 0 0 50px;
    padding: 30px 21px 25px 21px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-indent: 16px;
    border-right: 1px solid #BCBDC0;
    border-bottom: 1px solid #BCBDC0;
    border-left: 1px solid #BCBDC0;
    background-color: white;
}
p + script + h3{
    padding-bottom: 20px;
    border-bottom: 1px solid #BCBDC0;
}
html{
    height: 100%;
    min-height: 100%;
}
body{
    min-height: 100%;
}
div>p{
    float: initial;
    clear: initial;
    color: initial;
    margin: initial;
    padding: initial;
    font-size: 22px;
    font-weight: initial;
    text-align: left;
    text-indent: initial;
    border-right: initial;
    border-bottom: initial;
    border-left: initial;
    background-color: initial;
}